Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["oxlint --type-aware"],
  "*.{json,md,yaml,yml,ts,tsx}": ["prettier --write"]
}

fix: 注册tauri的剪贴板插件
  app/src-tauri/src/lib.rs
Due: none

fix: 升级旧工程文件后强制标记为未保存状态
  app/src/core/Project.tsx
Due: oxlint --type-aware, prettier --write

fix: 点击详细信息按钮不再重复出现多个详细信息面板
  app/src/sub/NodeDetailsWindow.tsx
Due: oxlint --type-aware, prettier --write

fix: 升级旧工程文件后强制标记为未保存状态
  app/src/core/Project.tsx
  app/src/core/service/GlobalMenu.tsx
Due: oxlint --type-aware, prettier --write

fix: resize 图片/SVG/引用块节点时分组框实时更新大小
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  app/src/core/stage/stageObject/entity/ReferenceBlockNode.tsx
  app/src/core/stage/stageObject/entity/SvgNode.tsx
Due: oxlint --type-aware, prettier --write

feat: 多人协作
  app/src-tauri/Cargo.lock
  app/src-tauri/tauri.conf.json
  app/src-tauri/vendor/tauri-runtime-cef/Cargo.lock
  app/src-tauri/vendor/tauri-runtime-cef/Cargo.toml
  app/src-tauri/vendor/tauri-runtime-cef/src/runtime.rs
  app/src/App.tsx
  app/src/core/Project.tsx
  app/src/core/Tab.tsx
  app/src/core/fileSystemProvider/FileSystemProviderCollab.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/collaboration/CollabApi.ts
  app/src/core/service/collaboration/CollabProtocol.ts
  app/src/core/service/collaboration/CollabTransport.ts
  app/src/core/service/collaboration/CollaborationService.tsx
  app/src/core/service/collaboration/stageMap.ts
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  app/src/core/subWindowOpenModes.ts
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/CollaborationWindow.tsx
  app/src/sub/SettingsWindow/customization/window-open-modes.tsx
  app/src/sub/SettingsWindow/settings.tsx
  app/src/vite-env.d.ts
Due: oxlint --type-aware, prettier --write

feat: 将公告改为markdown渲染
  app/src/components/ui/markdown.tsx
  app/src/sub/WelcomeWindow.tsx
Due: oxlint --type-aware, prettier --write

chore: 更新到tauri v2.11.5
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
Due: none

feat: 优化错误提示
  app/src/core/service/GlobalMenu.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复在Windows 23H2及以后的版本中可能无法获取设备ID的问题
  app/src-tauri/src/cmd/device.rs
Due: none

fix: 修复白色主题下关于页面的文字看不清的问题
  app/src/sub/SettingsWindow/about.tsx
Due: oxlint --type-aware, prettier --write

fix: 放宽导出节点为纯文本的导航栏点击条件
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复 Ctrl+Tab 切换标签页
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: oxlint --type-aware, prettier --write

fix: 重制快捷键之后不用切换页面就能看到效果了
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

docs: 增加一些对默认快捷键的说明
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
Due: prettier --write

feat: 框折叠展开时，格式化树形结构
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

feat: 优化在分组框内绘制涂鸦的交互，自动纳入分组框
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/locales/zh_TW.yml
Due: oxlint --type-aware, prettier --write

feat: 添加Agent Trace
  .pnpm-store/v11/index.db
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AIRequestTrace.test.ts
  app/src/core/service/dataManageService/aiEngine/AIRequestTrace.ts
  app/src/locales/zh_TW.yml
  app/src/sub/AIRequestTraceView.tsx
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

feat: 导航栏的协作选项放入二级菜单
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
Due: oxlint --type-aware, prettier --write

feat: 给创建协作房间失败加上日志
  app/src/core/service/GlobalMenu.tsx
Due: oxlint --type-aware, prettier --write

fix(agent): cascade edges when deleting nodes
  app/src/core/service/dataManageService/aiEngine/AITools.test.ts
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
Due: oxlint --type-aware, prettier --write

fix: 树转框支持撤销
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
Due: oxlint --type-aware, prettier --write

feat: 分组框支持孪生
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionInOutManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSyncAssociationManager.tsx
  app/src/core/stage/stageObject/association/SyncAssociation.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

fix: 优化孪生分组框之间的虚线渲染
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/render/canvas2d/utilsRenderer/SyncAssociationRenderer.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSyncAssociationManager.tsx
Due: oxlint --type-aware, prettier --write

feat: 孪生分组框同步一些操作的记录
  app/src/core/render/canvas2d/utilsRenderer/SyncAssociationRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityResize.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSyncAssociationManager.tsx
  app/src/sub/LatexEditWindow.tsx
  docs/prd/twin-section.md
Due: oxlint --type-aware, prettier --write

feat: 增加文本节点的边框设置项
  app/src/core/render/canvas2d/entityRenderer/textNode/TextNodeRenderer.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/ProjectUpgrader.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
  packages/extprg-types/index.d.ts
Due: oxlint --type-aware, prettier --write

fix: rename showTextNodeBorder to forceHideTextNodeBorder with correct default value
  app/src/core/render/canvas2d/entityRenderer/textNode/TextNodeRenderer.tsx
  app/src/core/service/QuickSettingsManager.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

fix(cef): 单实例守卫，修复 release 版重复启动时崩溃
  app/src-tauri/vendor/tauri-runtime-cef/src/runtime.rs
Due: none

feat(collab): 鼠标位置同步和Cursor Chat
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/collaboration/CollabProtocol.ts
  app/src/core/service/collaboration/CollaborationService.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/sub/CollaborationWindow.tsx
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

feat(collab): 附件
  app/src/core/Project.tsx
  app/src/core/service/collaboration/CollabApi.ts
  app/src/core/service/collaboration/CollabProtocol.ts
  app/src/core/service/collaboration/CollaborationService.tsx
  app/src/locales/zh_TW.yml
  app/src/sub/AttachmentsWindow.tsx
Due: oxlint --type-aware, prettier --write

chore: 同步上游 kabegame/tauri-runtime-cef 补丁
  app/src-tauri/vendor/tauri-runtime-cef/src/ipc.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/lib.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/protocol.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/runtime.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/webview.rs
Due: none

fix: 云服务开关改为非空判断，baseURL 无效时降级为 null
  app/src/core/service/AuthClient.tsx
  app/src/core/service/FeatureFlags.tsx
Due: oxlint --type-aware, prettier --write

fix: 窗口显示增加前端超时兜底，渲染中断时仍可见
  app/src/main.tsx
Due: oxlint --type-aware, prettier --write

ci: release 构建前校验 ENV_API_BASE_URL secret
  .github/workflows/release.yml
Due: prettier --write

fix(extprg): 修复dataDir
  packages/extprg/package.json
  packages/extprg/src/commands/install.ts
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

chore: extprg v1.1.1
  packages/extprg/package.json
Due: prettier --write

fix(mac): route wheel events to inactive windows
  app/src-tauri/vendor/tauri-runtime-cef/src/app_mac.rs
Due: none

Revert "fix: 修复mac上的窗口圆角消失问题"
  app/index.html
  app/src/App.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加设置项开关：右键拖拽式连线在空白位置生成节点时是否自动调整连线端点位置
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write
