Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

chore: 添加linux,windows,macos的cfg_alias
  crates/project_graph/build.rs
Due: none

feat: 完成指令系统 (fix #179)
  crates/project_graph/src/fonts.rs
  crates/project_graph/src/stage/structs.rs
  crates/project_graph/src/terminal.rs
Due: none

feat: 使用终端创建节点时显示节点id
  crates/project_graph/src/stage/structs.rs
  crates/project_graph/src/terminal.rs
Due: none

chore: 移除无用代码
  crates/project_graph/src/stage.rs
Due: none

fix: 修复简单替换繁体中文的显示问题，并增加自动替换脚本
  app/package.json
  app/scripts/sync-locales.ts
  app/src/locales/README.md
  app/src/locales/zh_TW.yml
  app/tsconfig.node.json
  app/vite-plugins/i18n-auto-tw.ts
  app/vite.config.ts
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

feat: 增加印度尼西亚语言
  app/src-tauri/tauri.conf.json
  app/src/core/service/Settings.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/main.tsx
Due: oxlint --type-aware, prettier --write

refactor: 将Painter渲染改为Ui渲染
  crates/project_graph/src/stage.rs
  crates/project_graph/src/stage/render_context.rs
  crates/project_graph/src/stage/structs.rs
Due: none

feat: 支持触控板手势
  Cargo.lock
  Cargo.toml
  crates/project_graph/src/stage.rs
Due: none

chore: 移除无用日志
  crates/project_graph/src/stage.rs
Due: none

refactor: 重构目录结构
  crates/project_graph/src/stage.rs
  crates/project_graph/src/stage/context.rs
  crates/project_graph/src/stage/elements.rs
  crates/project_graph/src/stage/elements/connections.rs
  crates/project_graph/src/stage/elements/containers.rs
  crates/project_graph/src/stage/elements/entities.rs
  crates/project_graph/src/stage/elements/entities/text.rs
  crates/project_graph/src/stage/structs.rs
  crates/project_graph/src/terminal.rs
Due: none

feat: 添加MiSans字体知识产权许可协议
  crates/project_graph/assets/fonts/MiSans.LICENSE
  crates/project_graph/src/app.rs
Due: none

feat: 支持选择节点
  crates/project_graph/src/stage.rs
  crates/project_graph/src/stage/elements.rs
  crates/project_graph/src/stage/elements/entities/text.rs
  crates/project_graph/src/stage/render_context.rs
Due: none

fix: 修复节点会盖住子窗口
  crates/project_graph/src/stage.rs
Due: none

docs: 添加README
  README.md
Due: prettier --write

docs: 添加mdbook
  docs/.gitignore
  docs/book.toml
  docs/src/404.md
  docs/src/README.md
  docs/src/SUMMARY.md
  docs/style.css
Due: prettier --write

fix: 修复 Section 移动时速度叠加的问题
  app/src/core/stage/stageManager/concreteMethods/StageSectionInOutManager.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
Due: oxlint --type-aware, prettier --write

feat: markdown导入后自动调用右向树布局
  app/src/core/service/dataGenerateService/stageImportEngine/MarkdownImporter.tsx
  app/src/core/service/dataGenerateService/stageImportEngine/stageImportEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
Due: oxlint --type-aware, prettier --write

fix: 文本节点进入编辑状态后，摄像机停止漂移
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/stage/Camera.tsx
Due: oxlint --type-aware, prettier --write

feat(快捷键): 新增基于十字准心的节点选择功能
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

feat: 实现图片背景化的功能和背景管理器
  .trae/documents/实现背景图片功能和背景管理器.md
  app/src/components/context-menu-content.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/rectangleSelectEngine/rectangleSelectEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  app/src/sub/BackgroundManagerWindow.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复背景图节点的渲染顺序
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复F11快捷键冲突导致拖动视野时频繁触发全屏的问题
  app/src/App.tsx
  app/src/core/service/controlService/shortcutKeysEngine/ShortcutKeyFixer.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复svg导出时，图片节点没有显示的问题
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
Due: oxlint --type-aware, prettier --write

feat: 右上角增加亮色暗色主题一键切换按钮
  app/src/App.tsx
  app/src/components/theme-mode-switch.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

fix: 优化主题设置页面对亮色主题和对暗色主题的设置
  app/src/sub/SettingsWindow/settings.tsx
  app/src/sub/SettingsWindow/themes/index.tsx
Due: oxlint --type-aware, prettier --write

revert: 移除触控板手势
  crates/project_graph/src/stage.rs
Due: none

fix: 修复AI界面对话后卡住一直不动的bug
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复AI页面中发送一个消息报错后卡住转圈的问题
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
Due: oxlint --type-aware, prettier --write

feat(AI工具): 新增多个AI工具并优化AI窗口交互
  app/src/core/service/dataGenerateService/stageImportEngine/TreeImporter.tsx
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
  app/src/css/index.css
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加了很多AI调用的工具
  app/src/core/service/dataGenerateService/stageImportEngine/TreeImporter.tsx
  app/src/core/service/dataGenerateService/stageImportEngine/stageImportEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
Due: oxlint --type-aware, prettier --write

fix: 关闭section框锁定时的虚线样子，修复多重嵌套的锁定section框中，内层锁定的section框意外被拖拽的bug
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
Due: oxlint --type-aware, prettier --write

feat: 文本节点放大缩小时优化不动点位置，减小文本节点放大缩小后用户手动调整位置的频率
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/service/dataManageService/textNodeSmartTools.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
Due: oxlint --type-aware, prettier --write

fix: 快捷键出现前后缀重叠时，增加快捷键重叠提示
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

fix: 更新快捷键重叠说明：完全相等的快捷键会一起执行所有相关功能、前缀重叠的快捷键会执行较短的那个快捷键
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

fix: 将十字准星位置的节点选中的快捷键从q键改为qq。
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: oxlint --type-aware, prettier --write

fix: 隐私模式（ctrl+2）下不渲染图片内容
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加tab键非树形结构的提示
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
Due: oxlint --type-aware, prettier --write

fix: 优化锁定框拖拽体验：当多层框都锁定时，拖拽内层锁定框可以直接移动外层锁定框并不影响布局
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
Due: oxlint --type-aware, prettier --write

fix: mac左上角红绿灯每个球儿内的图标常驻显示。
  app/src/App.tsx
Due: oxlint --type-aware, prettier --write

feat：ctrl+2打开隐私模式时，标签页文字也能够进行替换了
  app/src/ProjectTabs.tsx
Due: oxlint --type-aware, prettier --write

Path conditions:
  oxlint --type-aware: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml,ts,tsx}
