Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["oxlint --type-aware"],
  "*.{json,md,yaml,yml,ts,tsx}": ["prettier --write"]
}

fix: 给extprg-types添加zod依赖
  packages/extprg-types/package.json
Due: prettier --write

feat: 更新create-extprg模板中的依赖版本
  packages/create-extprg/src/template/package.json.ejs
Due: none

chore: 将extprg和create-extprg迁移到本仓库
  packages/create-extprg/package.json
  packages/create-extprg/src/index.ts
  packages/create-extprg/src/template/.gitignore.ejs
  packages/create-extprg/src/template/README.md.ejs
  packages/create-extprg/src/template/icon.svg.ejs
  packages/create-extprg/src/template/package.json.ejs
  packages/create-extprg/src/template/src/extension.ts.ejs
  packages/create-extprg/src/template/tsconfig.json.ejs
  packages/create-extprg/src/template/tsdown.config.ts.ejs
  packages/create-extprg/tsconfig.json
  packages/create-extprg/tsdown.config.ts
  packages/extprg/package.json
  packages/extprg/pnpm-lock.yaml
  packages/extprg/src/commands/build.ts
  packages/extprg/src/commands/dev.ts
  packages/extprg/src/commands/install.ts
  packages/extprg/src/commands/package.ts
  packages/extprg/src/constants.ts
  packages/extprg/src/index.ts
  packages/extprg/src/logger.ts
  packages/extprg/tsconfig.json
  packages/extprg/tsdown.config.ts
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

chore: extprg-types v1.3.1
  packages/extprg-types/package.json
Due: prettier --write

chore: 移除typescript.patch
  patches/typescript.patch
  pnpm-workspace.yaml
Due: prettier --write

chore: create-extprg v1.2.0
  packages/create-extprg/package.json
Due: prettier --write

chore: 修改表单API
  app/src/core/extension/api/host.tsx
  app/src/sub/FormWindow.tsx
Due: oxlint --type-aware, prettier --write

chore: extprg-types v1.3.2
  packages/extprg-types/index.d.ts
  packages/extprg-types/package.json
Due: oxlint --type-aware, prettier --write

chore: create-extprg v1.2.1
  packages/create-extprg/package.json
Due: prettier --write

fix: 优化选中后的生长方向三角形渲染逻辑
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
Due: oxlint --type-aware, prettier --write

feat: 不直接暴露UUID给Agent，抽象一层会话级别的UUID名称对照表，实体用n，关系用e表示。如n1，e1
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AIObjectReferenceRegistry.test.ts
  app/src/core/service/dataManageService/aiEngine/AIObjectReferenceRegistry.ts
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

Revert "fix: 修复mac上的窗口圆角消失问题"
  app/index.html
  app/splash.html
  app/src/App.tsx
Due: oxlint --type-aware, prettier --write

feat: AI工具添加JSON Schema渲染
  app/src/sub/AIToolsWindow.tsx
Due: oxlint --type-aware, prettier --write

fix: 移除aur的sha256sums
  .github/scripts/generate-pkgbuild.mjs
  .github/workflows/publish.yml
Due: prettier --write

feat: enableOCR设置
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

feat: 添加AI会话存储功能
  app/src/core/service/dataManageService/aiEngine/AIChatSessionStore.ts
  app/src/core/service/dataManageService/aiEngine/AIObjectReferenceRegistry.test.ts
  app/src/core/service/dataManageService/aiEngine/AIObjectReferenceRegistry.ts
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

feat: 添加上下文显示功能
  app/src/components/ui/progress.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AIModelContextWindow.test.ts
  app/src/core/service/dataManageService/aiEngine/AIModelContextWindow.ts
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/AIWindow.tsx
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

fix: ci
  .github/scripts/generate-pkgbuild.mjs
Due: none

feat: 添加搜索并创建图片节点的Agent工具
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
  app/src/core/service/dataManageService/aiEngine/OpenverseImageSearch.test.ts
  app/src/core/service/dataManageService/aiEngine/OpenverseImageSearch.ts
  app/src/core/service/dataManageService/copyEngine/copyEngineImage.tsx
  app/src/core/service/dataManageService/dragFileIntoStageEngine/dragFileIntoStageEngine.tsx
  app/src/core/service/dataManageService/imageNodeFactory.ts
  app/src/core/service/dataManageService/imageUtils.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
Due: oxlint --type-aware, prettier --write

feat: 添加多会话功能
  app/src/core/service/dataManageService/aiEngine/AIChatSessionStore.ts
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AIObjectReferenceRegistry.test.ts
  app/src/core/service/dataManageService/aiEngine/AIObjectReferenceRegistry.ts
  app/src/core/service/dataManageService/aiEngine/AIProjectReferenceStore.ts
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

feat: 命令面板
  app/src/App.tsx
  app/src/CommandPalette.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/state.tsx
Due: oxlint --type-aware, prettier --write

feat: 添加会话记忆
  app/src/core/service/controlService/autoLayoutEngine/mainTick.test.ts
  app/src/core/service/controlService/autoLayoutEngine/mainTick.tsx
  app/src/core/service/dataManageService/aiEngine/AIChatSessionMemory.test.ts
  app/src/core/service/dataManageService/aiEngine/AIChatSessionMemory.ts
  app/src/core/service/dataManageService/aiEngine/AIChatSessionStore.ts
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AITools.test.ts
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
  app/src/core/service/dataManageService/imageNodeFactory.ts
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

fix: 补全主题中缺失的 effects 颜色键，防止访问 undefined 导致 Cannot read properties of undefined (reading 'r')
  app/src/core/service/feedbackService/stageStyle/stageStyle.tsx
Due: oxlint --type-aware, prettier --write

feat: make uiScalePercent zoom apply to sub-windows, command palette, and dialog
  app/src/App.tsx
  app/src/CommandPalette.tsx
  app/src/components/render-sub-windows.tsx
  app/src/components/ui/command.tsx
Due: oxlint --type-aware, prettier --write

feat: 支持Android平台
  app/index.html
  app/splash.html
  app/src-tauri/Cargo.toml
  app/src-tauri/build.rs
  app/src-tauri/capabilities/default.json
  app/src-tauri/capabilities/desktop.json
  app/src-tauri/gen/android/app/src/main/AndroidManifest.xml
  app/src-tauri/gen/android/buildSrc/settings.gradle.kts
  app/src-tauri/src/cmd/mod.rs
  app/src-tauri/src/ipc_bridge.rs
  app/src-tauri/src/lib.rs
  app/src-tauri/tauri.conf.json
  app/src/main.tsx
  app/vite.config.ts
Due: oxlint --type-aware, prettier --write

fix: 修改赞助链接
  .github/FUNDING.yml
  app/src/sub/SettingsWindow/credits.tsx
Due: oxlint --type-aware, prettier --write

fix: 移除多余代码
  app/index.html
Due: none

feat(extprg-types): expand generated extension API types
  packages/extprg-types/build.ts
  packages/extprg-types/index.d.ts
  packages/extprg-types/package.json
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

feat: 添加实验性的MCP和Skills支持
  app/package.json
  app/src/core/service/dataManageService/aiEngine/AIAgentRuntime.test.ts
  app/src/core/service/dataManageService/aiEngine/AIAgentRuntime.ts
  app/src/core/service/dataManageService/aiEngine/AIChatSessionStore.skill.test.ts
  app/src/core/service/dataManageService/aiEngine/AIChatSessionStore.ts
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AIMCP.test.ts
  app/src/core/service/dataManageService/aiEngine/AIMCP.ts
  app/src/core/service/dataManageService/aiEngine/AISkillSession.test.ts
  app/src/core/service/dataManageService/aiEngine/AISkillSession.ts
  app/src/core/service/dataManageService/aiEngine/AISkills.test.ts
  app/src/core/service/dataManageService/aiEngine/AISkills.ts
  app/src/core/service/dataManageService/aiEngine/AIToolUIPart.test.ts
  app/src/core/service/dataManageService/aiEngine/AIToolUIPart.ts
  app/src/sub/AIToolsWindow.tsx
  app/src/sub/AIWindow.tsx
  docs/superpowers/plans/2026-07-14-ai-sdk-mcp-skills.md
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

docs: define MCP JSON and stdio design
  docs/superpowers/specs/2026-07-14-mcp-json-stdio-design.md
Due: prettier --write

docs: plan MCP JSON and stdio implementation
  docs/superpowers/plans/2026-07-14-mcp-json-stdio.md
  docs/superpowers/specs/2026-07-14-mcp-json-stdio-design.md
Due: prettier --write

feat(extprg-types): preserve generated API TSDoc
  packages/extprg-types/build.ts
  packages/extprg-types/index.d.ts
  packages/extprg-types/package.json
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

feat: 支持stdio格式MCP、自动和手动审批MCP
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/cmd/mcp.rs
  app/src-tauri/src/cmd/mod.rs
  app/src-tauri/src/lib.rs
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AIMCP.test.ts
  app/src/core/service/dataManageService/aiEngine/AIMCP.ts
  app/src/core/service/dataManageService/aiEngine/AIMCPConfig.test.ts
  app/src/core/service/dataManageService/aiEngine/AIMCPConfig.ts
  app/src/core/service/dataManageService/aiEngine/AIMCPStdio.test.ts
  app/src/core/service/dataManageService/aiEngine/AIMCPStdio.ts
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/AIToolsWindow.tsx
  app/src/sub/AIWindow.tsx
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

feat: add viewer mode for canvas interactions
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/controlService/controller/ControllerClass.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/customization/quick-settings.tsx
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

feat(app): show announcements on welcome page
  app/src/components/welcome-page.tsx
Due: oxlint --type-aware, prettier --write

fix(app): persist announcement confirmations in store
  app/src/components/welcome-page.tsx
  app/src/core/extension/Extension.tsx
  app/src/core/service/Tutorials.tsx
  app/src/main.tsx
Due: oxlint --type-aware, prettier --write

feat: add customizable pie menus
  app/src/App.tsx
  app/src/components/pie-menu.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/shortcutKeysEngine/KeyBindsUI.tsx
  app/src/sub/SettingsWindow/customization/index.tsx
  app/src/sub/SettingsWindow/customization/pie-menu.tsx
Due: oxlint --type-aware, prettier --write

fix(extprg-types): fix React types
  packages/extprg-types/build.ts
  packages/extprg-types/index.d.ts
  packages/extprg-types/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint --type-aware, prettier --write
