Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

fix(cli): hide Windows ownership helpers
  app/src/cli/OwnershipHelper.ts
Due: oxlint --type-aware, prettier --write

fix(cli): hide Windows worker process
  app/src/cli/ProjectGraphCliRuntime.ts
Due: oxlint --type-aware, prettier --write

fix(cli): hide Windows acceptance processes
  app/src/cli/ProjectGraphCliDesktopAcceptance.ts
Due: oxlint --type-aware, prettier --write

refactor: centralize project persistence lifecycles
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/bin/project-graph-ownership-helper.rs
  app/src-tauri/src/lib.rs
  app/src-tauri/src/project_reference_store.rs
  app/src-tauri/tests/project_ownership_helper.rs
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/ClosedProjectSettings.ts
  app/src/cli/OwnershipHelper.test.ts
  app/src/cli/OwnershipHelper.ts
  app/src/cli/ProjectGraphAppDataPath.test.ts
  app/src/cli/ProjectGraphAppDataPath.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
  app/src/core/OpenProjectRuntimeHost.ts
  app/src/core/Project.tsx
  app/src/core/ProjectOwnership.ts
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AIProjectReferenceStore.test.ts
  app/src/core/service/dataManageService/aiEngine/AIProjectReferenceStore.ts
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

refactor(cli): simplify runtime cleanup paths
  app/src-tauri/src/lib.rs
  app/src-tauri/src/project_ownership.rs
  app/src-tauri/src/project_reference_store.rs
  app/src/cli/ClosedProjectEffects.ts
  app/src/cli/ClosedProjectFileSystemProvider.ts
  app/src/cli/OwnershipHelper.ts
  app/src/cli/ProjectGraphCli.ts
  app/src/cli/ProjectGraphCliRuntime.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
  app/src/core/Project.tsx
  app/src/core/Tab.tsx
  app/src/core/service/dataManageService/aiEngine/AIProjectReferenceStore.test.ts
  app/src/core/service/dataManageService/aiEngine/AIProjectReferenceStore.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRuntimeProfiles.ts
Due: oxlint --type-aware, prettier --write

feat: TextNode编辑模式
  project.godot
  src/auto_size_text_edit.gd
  src/auto_size_text_edit.gd.uid
  src/stage_object/entity/text_node/style.tres
  src/stage_object/entity/text_node/text_node.gd
  src/stage_object/entity/text_node/text_node.tscn
Due: none

feat: 右键菜单
  src/main/main.tscn
  src/main/stage.gd
  src/stage_object/entity/text_node/text_node.gd
  src/stage_object/stage_object.tscn
Due: none

feat: 透明窗口
  project.godot
  src/main/main.tscn
  src/main/stage.gd
  src/main/switch_grid.gd
  src/main/switch_grid.gd.uid
Due: none

chore: 添加导出模板
  export_presets.cfg
Due: none

chore: ci
  .github/workflows/canary.yml
  wrangler.toml
Due: prettier --write

chore: ci
  .github/workflows/canary.yml
Due: prettier --write

chore: 改为docker部署
  .dockerignore
  .github/workflows/canary.yml
  docker/Dockerfile
  docker/docker-compose.yml
  docker/nginx.conf
Due: prettier --write

chore: docker
  docker/docker-compose.yml
Due: prettier --write

chore: docker
  docker/nginx.conf
Due: none

fix: 修复Web平台的画布大小
  export_presets.cfg
Due: none

fix: 将PopupMenu隐藏
  src/main/main.tscn
Due: none

feat: 根据缩放改变移动速度
  src/main/camera.gd
  src/stage_object/entity/text_node/text_node.tscn
Due: none

feat: 节点进入编辑模式时自动全选
  src/stage_object/entity/text_node/text_node.gd
Due: none

feat: 删除节点
  src/main/main.tscn
  src/stage_object_slicer.gd
  src/stage_object_slicer.gd.uid
Due: none

feat: LineEdge
  src/main/main.tscn
  src/stage_object/association/association.gd
  src/stage_object/association/association.gd.uid
  src/stage_object/association/line_edge/line_edge.gd
  src/stage_object/association/line_edge/line_edge.gd.uid
  src/stage_object/association/line_edge/line_edge.tscn
  src/stage_object/entity/entity.gd
  src/stage_object/entity/entity.tscn
  src/stage_object/entity/text_node/text_node.gd
  src/stage_object/entity/text_node/text_node.tscn
  src/stage_object/stage_object.gd
  src/stage_object/stage_object.tscn
  src/stage_object_slicer.gd
Due: none

fix: 切割节点起始点在节点上时不触发切割
  src/stage_object_slicer.gd
Due: none

feat: 拖拽创建LineEdge
  src/line_edge_creator.gd
  src/line_edge_creator.gd.uid
  src/main/main.tscn
Due: none

feat: 贝塞尔曲线
  src/stage_object/association/line_edge/line_edge.gd
  src/stage_object/association/line_edge/line_edge.tscn
Due: none

feat: 创建LineEdge时支持调整UV
  src/line_edge_creator.gd
Due: none

chore: 移除load和dump按钮
  src/main/dump_button.gd
  src/main/dump_button.gd.uid
  src/main/load_button.gd
  src/main/load_button.gd.uid
  src/main/main.tscn
Due: none

feat: 添加创建100个节点的按钮
  src/main/create_100_text_nodes_button.gd
  src/main/create_100_text_nodes_button.gd.uid
  src/main/main.tscn
  src/main/stage.gd
Due: none

chore: 移除画布上默认的三个StageObject
  src/main/main.tscn
Due: none

chore: 修改一些文本
  src/main/debug_info/active_actions.gd
  src/main/debug_info/os.gd
Due: none

fix: 修复创建100个节点按钮的问题
  src/main/create_100_text_nodes_button.gd
Due: none

feat: 优化DebugInfo位置
  src/main/debug_info/active_actions.gd
  src/main/main.tscn
Due: none

feat: 添加右下角提示
  src/main/main.tscn
Due: none

fix(cli): centralize project ownership and close lifecycle
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/project_ownership.rs
  app/src-tauri/src/project_runtime_bridge.rs
  app/src/cli/ProjectGraphAppDataPath.test.ts
  app/src/cli/ProjectGraphAppDataPath.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCliDesktopAcceptance.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
  app/src/core/TabWorkspace.test.tsx
  app/src/core/TabWorkspace.tsx
Due: oxlint --type-aware, prettier --write

feat: 物理引擎
  project.godot
  src/line_edge_creator.gd
  src/main/debug_info/fps.gd
  src/main/grid_toggle.gd
  src/main/grid_toggle.gd.uid
  src/main/main.tscn
  src/main/physics_toggle.gd
  src/main/physics_toggle.gd.uid
  src/stage_object/association/line_edge/line_edge.gd
  src/stage_object/association/line_edge/line_edge.tscn
  src/stage_object/entity/text_node/text_node.gd
  src/stage_object/entity/text_node/text_node.tscn3916278636.tmp
  src/stage_object/stage_object.gd
  src/stage_object_slicer.gd
Due: none

feat: 使LineEdgeCreator和StageObjectSlicer支持碰撞箱
  src/line_edge_creator.gd
  src/stage_object_slicer.gd
Due: none

chore: 优化代码
  src/stage_object/entity/text_node/text_node.tscn
  src/stage_object_slicer.gd
Due: none

Path conditions:
  oxlint --type-aware: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml,ts,tsx}
