Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["oxlint --type-aware"],
  "*.{json,md,yaml,yml,ts,tsx}": ["prettier --write"]
}

fix: 修复StageObjectSlicer获取到的碰撞箱不正确的问题
  src/stage_object_slicer.gd
Due: none

fix: 修复没有给TextNode开启lock_rotation的问题
  src/stage_object/entity/text_node/text_node.tscn
Due: none

chore: 改为使用场景唯一名称引用
  src/stage_object/association/line_edge/line_edge.gd
  src/stage_object/association/line_edge/line_edge.tscn
  src/stage_object/entity/text_node/text_node.gd
  src/stage_object/entity/text_node/text_node.tscn
Due: none

feat: 多标签页
  project.godot
  src/main/grid_toggle.gd
  src/main/main.tscn
  src/stage/camera.gd
  src/stage/camera.gd.uid
  src/stage/stage.gd
  src/stage/stage.gd.uid
  src/stage/stage.tscn
  src/stage_object_slicer.gd
Due: none

feat: 增强调试时节点树的可读性
  src/stage/stage.gd
Due: none

fix: 修复所有TextNode共享同一个碰撞箱的问题
  src/stage_object/entity/text_node/text_node.gd
Due: none

feat: 节点ID
  src/nanoid.gd
  src/nanoid.gd.uid
  src/stage/stage.gd
  src/stage_object/stage_object.gd
Due: none

feat: 将LineEdgeCreator修改uv的时机改为鼠标碰到节点边缘
  src/line_edge_creator.gd
Due: none

feat: 使用显示器刷新率作为TPS
  project.godot
  src/main/main.gd
Due: none

fix: 不将StageObjectSlicer作为tool
  src/stage_object_slicer.gd
Due: none

fix: 修复按下Ctrl Shift Z时左下角会同时显示undo和redo的问题
  src/main/debug_info/active_actions.gd
Due: none

feat: 撤销和重做
  project.godot
  src/history.gd
  src/history.gd.uid
  src/line_edge_creator.gd
  src/stage/stage.gd
  src/stage/stage.tscn
  src/stage_object/entity/text_node/text_node.gd
  src/stage_object_slicer.gd
Due: none

chore: 删除多余文件
  src/main/main.tscn1467936200.tmp
  src/main/main.tscn1471946877.tmp
  src/stage_object/entity/text_node/text_node.tscn3916278636.tmp
Due: none

refactor: 将移动节点的逻辑移动到Entity
  src/main/main.tscn
  src/stage_object/entity/entity.gd
  src/stage_object/entity/text_node/text_node.gd
Due: none

fix: 修复编辑文本节点时背景网格大小突变的问题
  src/main/grid.tres
Due: none

feat: 保存和打开文件
  project.godot
  src/history.gd
  src/line_edge_creator.gd
  src/main/main.tscn
  src/main/open_button.gd
  src/main/open_button.gd.uid
  src/main/save_button.gd
  src/main/save_button.gd.uid
  src/project_file.gd
  src/project_file.gd.uid
  src/stage/stage.gd
  src/stage_object_registry.gd
  src/stage_object_registry.gd.uid
Due: none

docs: 创建TODO.md
  TODO.md
Due: prettier --write

feat: 标签页管理
  src/main/main.gd
  src/main/main.tscn
Due: none

docs: 修改TODO.md
  TODO.md
Due: prettier --write

refactor: 优化代码
  src/main/grid_toggle.gd
  src/main/grid_toggle.gd.uid
  src/main/main.gd
  src/main/main.tscn
  src/main/open_button.gd
  src/main/open_button.gd.uid
  src/main/physics_toggle.gd
  src/main/physics_toggle.gd.uid
  src/main/save_button.gd
  src/main/save_button.gd.uid
  src/stage/stage.gd
Due: none

refactor: 优化UI
  project.godot
  src/main/create_100_text_nodes_button.gd
  src/main/create_100_text_nodes_button.gd.uid
  src/main/main.gd
  src/main/main.tscn
Due: none

feat: 默认使用Forward+渲染器
  project.godot
Due: none

refactor: 优化代码
  src/main/main.gd
  src/main/main.tscn
  src/stage_object/association/line_edge/line_edge.gd
  src/stage_object_registry.gd
Due: none

feat: 添加[和]快捷键
  project.godot
Due: none

chore: 移除formatter
  addons/GDQuest_GDScript_formatter/LICENSE
  addons/GDQuest_GDScript_formatter/install_and_update.gd
  addons/GDQuest_GDScript_formatter/install_and_update.gd.uid
  addons/GDQuest_GDScript_formatter/menu.gd
  addons/GDQuest_GDScript_formatter/menu.gd.uid
  addons/GDQuest_GDScript_formatter/plugin.cfg
  addons/GDQuest_GDScript_formatter/plugin.gd
  addons/GDQuest_GDScript_formatter/plugin.gd.uid
  project.godot
Due: none

feat: 给MenuBar添加功能
  src/history.gd
  src/main/main.gd
  src/main/main.tscn
  src/main/menu_bar/file.gd
  src/main/menu_bar/file.gd.uid
  src/main/tab_container.gd
  src/main/tab_container.gd.uid
  src/stage/stage.gd
Due: none

feat: 更加完善的文件管理
  src/main/main.tscn
  src/main/menu_bar/debug.gd
  src/main/menu_bar/debug.gd.uid
  src/main/menu_bar/file.gd
  src/main/tab_container.gd
Due: none

fix: 解决节点数量多时移动节点卡顿的问题
  src/stage_object_registry.gd
Due: none

ci: disable scheduled nightly builds
  .github/workflows/nightly.yml
Due: prettier --write

ci: restore scheduled nightly workflow
  .github/workflows/nightly.yml
Due: prettier --write

feat: 虚线边框和无边框的Section不进入大标题形态
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
Due: oxlint --type-aware, prettier --write

fix: 尝试修复CI上macos报错的问题
  app/src-tauri/tauri.conf.json
Due: prettier --write

chore: 排查github actions macos报错
  .github/workflows/publish.yml
Due: prettier --write

Merge branch 'fix-ci'
  .github/workflows/publish.yml
  app/scripts/collect-cef-linux.js
Due: prettier --write

feat: 文本节点编辑过程中，enter键退出编辑状态，shift+enter保留默认换行行为
  src/stage_object/entity/text_node/text_node.gd
  src/stage_object/entity/text_node/text_node.tscn
Due: none

feat: 增加框选逻辑和选中状态
  src/selection_feedback.gd
  src/selection_feedback.gd.uid
  src/stage/selection_controller.gd
  src/stage/selection_controller.gd.uid
  src/stage/stage.gd
  src/stage/stage.tscn
  src/stage_object/entity/entity.gd
  src/stage_object/entity/text_node/text_node.gd
Due: none

feat:支持音频视频文件拖入
  app/src/DropWindowCover.tsx
  app/src/core/Project.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/mediaNode/MediaNodeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityResize.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngineUtils.tsx
  app/src/core/service/dataManageService/dragFileIntoStageEngine/dragFileIntoStageEngine.tsx
  app/src/core/service/dataManageService/mediaNodeFactory.ts
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageObject/entity/MediaNode.tsx
  app/src/core/subWindowOpenModes.ts
  app/src/sub/MediaPlayerWindow.tsx
  app/src/sub/SettingsWindow/customization/window-open-modes.tsx
Due: oxlint --type-aware, prettier --write
