Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["oxlint --type-aware"],
  "*.{json,md,yaml,yml,ts,tsx}": ["prettier --write"]
}

feat: 给标签页右键菜单添加图标
  app/src/components/tab-context-menu.tsx
Due: oxlint --type-aware, prettier --write

feat: 修改文本
  app/src/sub/SettingsWindow/customization/index.tsx
Due: oxlint --type-aware, prettier --write

feat(tabs): add grouped split layouts
  app/src/App.tsx
  app/src/ProjectTabs.tsx
  app/src/components/docked-area.tsx
  app/src/components/floating-tabs.tsx
  app/src/components/tab-context-menu.tsx
  app/src/core/TabGroup.test.ts
  app/src/core/TabGroup.ts
  app/src/core/TabWorkspace.tsx
  app/src/state.tsx
Due: oxlint --type-aware, prettier --write

fix: bind subwindows to creation-time resource tab
  app/src/components/floating-tabs.tsx
  app/src/core/Tab.tsx
  app/src/core/TabWorkspace.tsx
  app/src/sub/AIWindow.tsx
  app/src/sub/AttachmentsWindow.tsx
  app/src/sub/AutoComputeWindow.tsx
  app/src/sub/BackgroundManagerWindow.tsx
  app/src/sub/ColorPaletteWindow.tsx
  app/src/sub/ColorWindow.tsx
  app/src/sub/ExportPngWindow.tsx
  app/src/sub/FindWindow.tsx
  app/src/sub/GenerateNodeWindow.tsx
  app/src/sub/NewExportPngWindow.tsx
  app/src/sub/RecentFilesWindow.tsx
  app/src/sub/ReferencesWindow.tsx
  app/src/sub/TagWindow.tsx
  app/src/sub/TextImportWindow.tsx
Due: oxlint --type-aware, prettier --write

feat(login): 登录时上报应用版本
  app/src/sub/SettingsWindow/account.tsx
Due: oxlint --type-aware, prettier --write

refactor: 移除QtWebEngine6
  app/index.html
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/build.rs
  app/src-tauri/src/ipc_bridge.rs
  app/src-tauri/src/lib.rs
  app/src-tauri/src/qt_app.cpp
  app/src-tauri/src/qt_app.h
  app/src-tauri/src/qt_app_ffi.rs
Due: none

feat(linux): 在linux上使用CEF而不是QtWebEngine6
  .github/scripts/generate-pkgbuild.mjs
  .github/workflows/publish.yml
  app/scripts/collect-cef-linux.js
  app/src-tauri/.gitignore
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/build.rs
  app/src-tauri/src/lib.rs
  app/src-tauri/tauri.conf.json
  app/src-tauri/vendor/tauri-runtime-cef/Cargo.toml
  app/src-tauri/vendor/tauri-runtime-cef/README.md
  app/src-tauri/vendor/tauri-runtime-cef/src/app_mac.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/ipc.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/lib.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/protocol.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/runtime.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/subprocess.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/webview.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/window.rs
  app/src-tauri/vendor/tauri-runtime-cef/windows-app.manifest
Due: prettier --write

chore: fix ci
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

chore: fix ci
  .github/workflows/publish.yml
Due: prettier --write

fix: 修复在windows上也用了cef的问题
  app/src-tauri/src/lib.rs
Due: none

fix: rust
  app/src-tauri/src/lib.rs
Due: none

feat: 优化饼状菜单样式
  app/src/components/pie-menu.tsx
  app/src/sub/SettingsWindow/customization/pie-menu.tsx
Due: oxlint --type-aware, prettier --write

fix: 将自动补全窗口定位从 canvas 坐标转换到页面坐标
  app/src/core/service/controlService/controller/concrete/utilsControlTools.tsx
Due: oxlint --type-aware, prettier --write

perf(settings): 将 SettingField 列表改为虚拟滚动
  app/package.json
  app/src/sub/SettingsWindow/index.tsx
  app/src/sub/SettingsWindow/settings.tsx
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

fix: 修复 type-check 未使用变量与过时 API 调用
  app/src/components/ui/field.tsx
  app/src/components/ui/tooltip.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/stageExportEngine.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
  app/src/core/stage/stageObject/association/CubicCatmullRomSplineEdge.tsx
  app/src/sub/SettingsWindow/credits.tsx
Due: oxlint --type-aware, prettier --write

feat: 启动时以浮动欢迎窗替代全屏欢迎页
  app/src/App.tsx
  app/src/components/welcome-page.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/main.tsx
  app/src/sub/WelcomeWindow.tsx
Due: oxlint --type-aware, prettier --write

chore: 移除无用依赖
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  packages/extprg-types/index.d.ts
Due: oxlint --type-aware, prettier --write

chore: fix ci
  app/src-tauri/tauri.conf.json
Due: prettier --write

feat: configure sub-window open modes
  app/src/core/Tab.tsx
  app/src/core/TabGroup.test.ts
  app/src/core/TabGroup.ts
  app/src/core/TabWorkspace.tsx
  app/src/core/service/Settings.tsx
  app/src/core/subWindowOpen.ts
  app/src/core/subWindowOpenModes.ts
  app/src/sub/AIToolsWindow.tsx
  app/src/sub/AIWindow.tsx
  app/src/sub/AttachmentsWindow.tsx
  app/src/sub/AutoCompleteWindow.tsx
  app/src/sub/AutoComputeWindow.tsx
  app/src/sub/BackgroundManagerWindow.tsx
  app/src/sub/ColorPaletteWindow.tsx
  app/src/sub/ColorWindow.tsx
  app/src/sub/EditUrlNodeLinkWindow.tsx
  app/src/sub/ExportPngWindow.tsx
  app/src/sub/FindWindow.tsx
  app/src/sub/FormWindow.tsx
  app/src/sub/GenerateNodeWindow.tsx
  app/src/sub/KeyboardRecentFilesWindow.tsx
  app/src/sub/LatexEditWindow.tsx
  app/src/sub/NewExportPngWindow.tsx
  app/src/sub/NodeDetailsWindow.tsx
  app/src/sub/OnboardingWindow.tsx
  app/src/sub/RecentFilesWindow.tsx
  app/src/sub/ReferencesWindow.tsx
  app/src/sub/SettingsWindow/customization/index.tsx
  app/src/sub/SettingsWindow/customization/window-open-modes.tsx
  app/src/sub/SettingsWindow/index.tsx
  app/src/sub/TagWindow.tsx
  app/src/sub/TestWindow.tsx
  app/src/sub/TextImportWindow.tsx
  app/src/sub/WelcomeWindow.tsx
Due: oxlint --type-aware, prettier --write

feat: 移除Linux设置
  app/src/core/TabGroup.test.ts
  app/src/core/TabWorkspace.tsx
  app/src/sub/BackgroundManagerWindow.tsx
  app/src/sub/GenerateNodeWindow.tsx
  app/src/sub/SettingsWindow/customization/window-open-modes.tsx
  app/src/sub/SettingsWindow/index.tsx
  app/src/sub/SettingsWindow/linuxRuntime.tsx
  app/src/sub/WelcomeWindow.tsx
Due: oxlint --type-aware, prettier --write

feat: 将主题设置集成到个性化页面中
  app/src/sub/SettingsWindow/customization/index.tsx
  app/src/sub/SettingsWindow/index.tsx
Due: oxlint --type-aware, prettier --write

fix: ts
  app/src/sub/KeyboardRecentFilesWindow.tsx
  app/src/sub/RecentFilesWindow.tsx
Due: oxlint --type-aware, prettier --write

refactor: move bottom and right toolbars into Project render
  app/src/App.tsx
  app/src/core/Project.tsx
Due: oxlint --type-aware, prettier --write

feat: 优化布局
  app/src-tauri/src/lib.rs
  app/src/App.tsx
  app/src/components/docked-area.tsx
  app/src/components/theme-mode-switch.tsx
  app/src/components/ui/menubar.tsx
Due: oxlint --type-aware, prettier --write

feat: 命令面板中支持搜索最近文件
  app/src/CommandPalette.tsx
Due: oxlint --type-aware, prettier --write

fix: 尝试兼容
  app/src-tauri/.cargo/config.toml
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/lib.rs
  app/src-tauri/tauri.conf.json
  app/src-tauri/vendor/tauri-runtime-cef/Cargo.toml
  app/src-tauri/vendor/tauri-runtime-cef/build.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/app_mac.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/runtime.rs
  app/src-tauri/vendor/tauri-runtime-cef/src/window.rs
  packages/extprg-types/index.d.ts
Due: oxlint --type-aware, prettier --write

fix: correct coalesced pen stroke coordinates
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: oxlint --type-aware, prettier --write

test
  app/package.json
  app/src-tauri/.cargo/config.toml
Due: prettier --write

perf: optimize rendering at macro zoom levels
  app/src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
  app/src/utils/font.tsx
Due: oxlint --type-aware, prettier --write

docs: rewrite AGENTS.md for agents and drop README_FOR_AI
  AGENTS.md
  docs-pg/README_FOR_AI.md
Due: prettier --write

feat: add graph outline panel
  app/src/core/algorithm/graphStructureAnalysis.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/subWindowOpenModes.ts
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/OutlineWindow.tsx
  app/src/sub/SettingsWindow/customization/window-open-modes.tsx
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

fix: preserve serializer class names in production
  packages/serializer/src/index.ts
  packages/serializer/tests/index.test.ts
Due: oxlint --type-aware, prettier --write

fix(ci): disable Rust target cache for CEF builds
  .github/workflows/publish.yml
Due: prettier --write

fix: 修改生长方向的渲染箭头样子
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/locales/zh_TW.yml
Due: oxlint --type-aware, prettier --write
