Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

chore: 修复CI
  .github/workflows/nightly.yml
Due: prettier --write

feat: 添加开发中提示
  crates/project_graph/src/main.rs
Due: none

chore: 优化Cargo.toml写法
  Cargo.lock
  Cargo.toml
  crates/project_graph/Cargo.toml
Due: none

chore: 将Nightly工作流改为Canary
  .github/workflows/canary.yml
Due: prettier --write

feat: Android版本
  Cargo.lock
  Cargo.toml
  crates/project_graph/Cargo.toml
  crates/project_graph/build.rs
  crates/project_graph/index.html
  crates/project_graph/src/app.rs
  crates/project_graph/src/fonts.rs
  crates/project_graph/src/lib.rs
  crates/project_graph/src/main.rs
Due: none

chore: 将`cfg(pc)`改为`cfg(desktop)`
  crates/project_graph/build.rs
  crates/project_graph/src/app.rs
  crates/project_graph/src/fonts.rs
  crates/project_graph/src/main.rs
Due: none

docs: 添加注释
  crates/project_graph/Trunk.toml
  crates/project_graph/src/app.rs
  crates/project_graph/src/fonts.rs
  crates/project_graph/src/lib.rs
  crates/project_graph/src/main.rs
  crates/project_graph/src/smooth_value.rs
  crates/project_graph/src/stage.rs
  crates/project_graph/src/themes.rs
Due: none

chore: 忽略keystore文件
  .gitignore
Due: none

fix: 修复文本输入框背景为白色
  crates/project_graph/src/themes.rs
Due: none

feat: 支持Android软键盘
  Cargo.lock
  Cargo.toml
  crates/project_graph/Cargo.toml
  crates/project_graph/src/app.rs
  crates/project_graph/src/lib.rs
  crates/project_graph/src/native.rs
Due: none

feat: 增加根据文件夹生成树状图的功能
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/dataGenerateService/generateFromFolderEngine/GenerateFromFolderEngine.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
Due: oxlint --type-aware, prettier --write

chore: 优化`set_soft_input_visible`逻辑
  crates/project_graph/src/native.rs
Due: none

fix: 在Windows上设置子系统以防止弹出conhost窗口
  crates/project_graph/src/main.rs
Due: none

chore: 修改二进制文件名称
  crates/project_graph/Cargo.toml
  crates/project_graph/index.html
Due: none

feat: 不使用egui的默认字体
  crates/project_graph/src/fonts.rs
Due: none

feat: 支持Docker部署
  docker/Dockerfile
  docker/nginx.conf
Due: none

feat: 在shift+#的最近打开页面中，焦点在输入框中也可以按下ESC来退出面板，搜索结果唯一时，按下回车进入唯一文件
  app/src/sub/RecentFilesWindow.tsx
Due: oxlint --type-aware, prettier --write

chore: 添加Release工作流
  .github/workflows/release.yml
Due: prettier --write

chore: 在Release工作流中自动修改版本号
  .github/workflows/release.yml
Due: prettier --write

chore: 修复Release工作流无法创建Release
  .github/workflows/release.yml
Due: prettier --write

chore: 修复Release工作流无法修改版本号
  .github/workflows/release.yml
Due: prettier --write

chore: 忽略创建Release时的错误
  .github/workflows/release.yml
Due: prettier --write

chore: 修复在macOS上无法修改版本号
  .github/workflows/release.yml
Due: prettier --write

chore: 修复gh调用时参数错误
  .github/workflows/release.yml
Due: prettier --write

fix: 删除代码中没有使用到的特效
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PointDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TechLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ZapLineEffect.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复了贝塞尔曲线上的换行文字没有渲染换行的问题
  app/src/components/render-sub-windows.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/SymmetryCurveEdgeRenderer.tsx
Due: oxlint --type-aware, prettier --write

chore: 添加许可证
  LICENSE-GPL
  LICENSE-MIT
  crates/project_graph/Cargo.toml
Due: none

feat(控制): 添加反转树形移动模式设置项
  .trae/skills/create-keybind/SKILL.md
  .trae/skills/create-setting-item/SKILL.md
  app/src/core/service/QuickSettingsManager.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

refactor: 移除SmoothValue
  crates/project_graph/src/lib.rs
  crates/project_graph/src/smooth_value.rs
  crates/project_graph/src/stage.rs
  crates/project_graph/src/stage/camera.rs
Due: none

refactor: 将native.rs移动至utils/jni.rs
  crates/project_graph/src/app.rs
  crates/project_graph/src/lib.rs
  crates/project_graph/src/utils.rs
  crates/project_graph/src/utils/jni.rs
Due: none

fix: 修复macos下直接在舞台上command+v触发的崩溃问题，降级粘贴方案（仅对mac生效）
  .trae/documents/粘贴bug崩溃报告.txt
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
Due: oxlint --type-aware, prettier --write

feat: TextNode
  Cargo.lock
  Cargo.toml
  crates/project_graph/Cargo.toml
  crates/project_graph/src/lib.rs
  crates/project_graph/src/stage.rs
  crates/project_graph/src/stage/context.rs
  crates/project_graph/src/stage/render_context.rs
  crates/project_graph/src/stage/structs.rs
  crates/project_graph/src/structs.rs
  crates/project_graph/src/utils.rs
  crates/project_graph/src/utils/text.rs
Due: none

fix: 修复频繁克隆Painter对象导致的内存泄漏
  crates/project_graph/src/stage/render_context.rs
Due: none

feat: 添加底部面板
  crates/project_graph/src/app.rs
Due: none

feat: 支持使用KDL创建节点
  Cargo.lock
  Cargo.toml
  crates/project_graph/Cargo.toml
  crates/project_graph/src/stage.rs
  crates/project_graph/src/stage/context.rs
  crates/project_graph/src/stage/structs.rs
  crates/project_graph/src/utils.rs
  crates/project_graph/src/utils/kdl.rs
Due: none

fix: 修复频繁调用LRU缓存导致的内存泄漏
  crates/project_graph/src/stage/structs.rs
  crates/project_graph/src/utils/text.rs
Due: none

feat: 在底部面板中添加终端
  crates/project_graph/src/app.rs
  crates/project_graph/src/stage.rs
  crates/project_graph/src/stage/context.rs
Due: none

refactor: 将终端分离为独立的组件
  crates/project_graph/src/app.rs
  crates/project_graph/src/lib.rs
  crates/project_graph/src/terminal.rs
Due: none

chore: 更新egui到最新git版本
  Cargo.lock
  Cargo.toml
  crates/project_graph/src/app.rs
  crates/project_graph/src/stage.rs
  crates/project_graph/src/themes.rs
Due: none

fix: 修复终端内只能创建Text节点
  crates/project_graph/src/stage/structs.rs
  crates/project_graph/src/terminal.rs
Due: none

Path conditions:
  oxlint --type-aware: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml,ts,tsx}
