Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["oxlint --type-aware"],
  "*.{json,md,yaml,yml,ts,tsx}": ["prettier --write"]
}

fix: 修复mac双击顶部条不能全屏放大的问题
  app/src/App.tsx
Due: oxlint --type-aware, prettier --write

feat: 设置页面标题可以选中复制
  app/src/components/ui/field.tsx
Due: oxlint --type-aware, prettier --write

fix: 白色主题边框颜色加深，修复了太浅了的问题
  app/src/themes/light.yml
Due: prettier --write

fix: 优化设置项丢失图标、以及默认设置项的值
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
Due: oxlint --type-aware, prettier --write

refactor(agent): migrate built-in tool consumers
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AITools.test.ts
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
  app/src/core/service/dataManageService/aiEngine/AIToolsAdapter.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolAgentAdapter.tsx
  app/src/core/service/dataManageService/aiEngine/BuiltInToolConsumerAdapters.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolExecutors.tsx
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolWindowAdapter.ts
  app/src/sub/AIToolsWindow.tsx
Due: oxlint --type-aware, prettier --write

feat: add Project Graph CLI process contract
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCli.ts
  app/src/cli/project-graph.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolCliAdapter.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolConsumerAdapters.test.ts
  docs/agents/cli.md
  package.json
  packages/project-graph-cli/package.json
  packages/project-graph-cli/src/cli.mjs
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

feat(cli): add project ownership primitive
  app/src-tauri/src/lib.rs
  app/src-tauri/src/project_ownership.rs
Due: none

feat(agent): add built-in tool registry
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
  app/src/core/service/dataManageService/aiEngine/AIToolsAdapter.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolExecutors.tsx
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.ts
Due: oxlint --type-aware, prettier --write

test(cli): add cold-start performance benchmark
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCliBenchmark.test.ts
  app/src/cli/ProjectGraphCliBenchmark.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.ts
  benchmarks/project-graph-cli-cold-start/GRAPH-27.json
  package.json
Due: oxlint --type-aware, prettier --write

feat(cli): invoke closed read-only projects
  app/src/cli/ClosedProjectDetailsManager.ts
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/ClosedProjectRenderer.ts
  app/src/cli/ClosedProjectSettings.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCli.ts
  app/src/cli/ProjectGraphCliRuntime.ts
  app/src/cli/jsdom.d.ts
  app/src/cli/project-graph.ts
  app/src/core/Project.tsx
  app/src/core/ProjectFile.ts
  app/src/core/service/dataManageService/aiEngine/AIObjectReferenceRegistry.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.ts
  app/src/core/stage/ProjectUpgrader.tsx
Due: oxlint --type-aware, prettier --write

fix(workspace): resolve source packages without builds
  app/project.json
  app/src/core/Project.tsx
  app/src/core/service/dataManageService/aiEngine/BuiltInToolCliAdapter.ts
  nx.json
  packages/data-structures/package.json
  packages/serializer/package.json
  packages/shapes/package.json
  vitest.config.ts
Due: oxlint --type-aware, prettier --write

feat(cli): connect to open project runtime
  app/src-tauri/src/lib.rs
  app/src-tauri/src/project_ownership.rs
  app/src-tauri/src/project_runtime_bridge.rs
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCli.ts
  app/src/cli/ProjectGraphCliRuntime.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
  app/src/core/OpenProjectRuntimeHost.ts
  app/src/core/Project.tsx
  app/src/core/ProjectOwnership.test.ts
  app/src/core/ProjectOwnership.ts
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/BuiltInToolAgentAdapter.tsx
  app/src/core/service/dataManageService/aiEngine/BuiltInToolConsumerAdapters.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.ts
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

fix(cli): preserve closed image tool behavior
  app/package.json
  app/src/cli/ClosedProjectEffects.ts
  app/src/cli/ClosedProjectHttp.ts
  app/src/cli/ClosedProjectModelImageEncoder.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCliRuntime.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolExecutors.tsx
  app/src/core/service/dataManageService/aiEngine/ModelImageEncoder.ts
  app/src/core/service/dataManageService/imageUtils.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

feat(cli): route tools to open project runtime
  app/src/cli/ClosedProjectEffects.ts
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/ClosedProjectSettings.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCli.ts
  app/src/cli/ProjectGraphCliRuntime.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
  app/src/core/OpenProjectRuntimeHost.ts
  app/src/core/service/ProjectToolSettingsSchema.test.ts
  app/src/core/service/ProjectToolSettingsSchema.ts
  app/src/core/service/Settings.tsx
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.ts
Due: oxlint --type-aware, prettier --write

feat(cli): complete cancellation and runtime cleanup
  app/src-tauri/src/project_runtime_bridge.rs
  app/src/cli/ClosedProjectFileSystemProvider.test.ts
  app/src/cli/ClosedProjectFileSystemProvider.ts
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCli.ts
  app/src/cli/ProjectGraphCliLifecycle.test.ts
  app/src/cli/ProjectGraphCliRuntime.ts
  app/src/cli/project-graph.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
  app/src/core/OpenProjectRuntimeHost.ts
  app/src/core/Project.tsx
  app/src/core/RuntimeCleanup.ts
  app/src/core/Tab.test.tsx
  app/src/core/Tab.tsx
  app/src/core/interfaces/Service.tsx
  app/src/core/stage/stageManager/StageHistoryManager.test.ts
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  app/src/core/stage/stageObject/abstract/StageObject.tsx
  app/src/core/stage/stageObject/entity/ImageNode.test.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  docs/agents/cli.md
  vitest.config.ts
Due: oxlint --type-aware, prettier --write

feat(cli): integrate project ownership with desktop lifecycle
  app/src-tauri/src/lib.rs
  app/src-tauri/src/project_ownership.rs
  app/src/core/Project.tsx
  app/src/core/ProjectOwnership.test.ts
  app/src/core/ProjectOwnership.ts
  app/src/core/service/GlobalMenu.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
Due: oxlint --type-aware, prettier --write

feat(cli): persist closed Project mutations
  app/src/cli/ClosedProjectFileSystemProvider.ts
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/ClosedProjectSettings.ts
  app/src/cli/ClosedProjectSoundService.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCli.ts
  app/src/cli/ProjectGraphCliRuntime.ts
Due: oxlint --type-aware, prettier --write

fix(cli): connect saved projects to desktop runtime
  app/src-tauri/src/lib.rs
  app/src-tauri/src/project_ownership.rs
  app/src/cli/ProjectGraphCliDesktopAcceptance.ts
  app/src/cli/ProjectGraphCliDesktopAcceptanceHost.ts
  app/src/cli/ProjectGraphCliDesktopAcceptanceProtocol.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
  app/src/core/OpenProjectRuntimeHost.ts
  app/src/core/Project.tsx
  app/src/core/ProjectOwnership.ts
  app/src/core/fileSystemProvider/FileSystemProviderDraft.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: oxlint --type-aware, prettier --write

refactor(cli): remove tool effect and risk metadata
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.ts
Due: oxlint --type-aware, prettier --write

fix(cli): harden project runtime invocation
  app/src-tauri/src/cli_desktop_acceptance.rs
  app/src-tauri/src/lib.rs
  app/src-tauri/src/project_reference_store.rs
  app/src/cli/ClosedProjectFileSystemProvider.test.ts
  app/src/cli/ClosedProjectFileSystemProvider.ts
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCli.ts
  app/src/cli/ProjectGraphCliDesktopAcceptance.ts
  app/src/cli/ProjectGraphCliDesktopAcceptanceHost.ts
  app/src/cli/ProjectGraphCliDesktopAcceptanceProtocol.ts
  app/src/cli/ProjectGraphCliRuntime.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
  app/src/core/OpenProjectRuntimeHost.ts
  app/src/core/Project.tsx
  app/src/core/interfaces/Service.tsx
  app/src/core/service/dataManageService/aiEngine/AIProjectReferenceStore.test.ts
  app/src/core/service/dataManageService/aiEngine/AIProjectReferenceStore.ts
  app/src/core/service/dataManageService/aiEngine/AIToolsAdapter.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolAgentAdapter.tsx
  app/src/core/service/dataManageService/aiEngine/BuiltInToolExecutors.tsx
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRegistry.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRuntimeError.test.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRuntimeError.ts
  app/src/core/service/dataManageService/aiEngine/BuiltInToolRuntimeProfiles.ts
  app/src/core/service/dataManageService/aiEngine/CliDesktopAcceptanceAdapter.ts
  app/src/core/service/dataManageService/aiEngine/OpenverseImageSearch.ts
  app/src/main.tsx
  package.json
  packages/serializer/src/index.ts
Due: oxlint --type-aware, prettier --write

feat(cli): add materialized production runtime
  app/package.json
  app/scripts/materialize-cli.ts
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/ClosedProjectSettings.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCli.ts
  app/src/cli/ProjectGraphCliClosedRuntime.ts
  app/src/cli/ProjectGraphCliDevelopmentRuntime.ts
  app/src/cli/ProjectGraphCliProduction.test.ts
  app/src/cli/ProjectGraphCliProductionRuntime.ts
  app/src/cli/ProjectGraphCliRuntime.ts
  app/src/cli/ProjectGraphCliRuntimeCompatibility.ts
  app/src/cli/project-graph-production.ts
  app/src/cli/project-graph.ts
  app/vite.cli.config.ts
  packages/project-graph-cli-runtime/package.json
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

feat(cli): unify project ownership with native helper
  app/scripts/materialize-cli.ts
  app/src-tauri/Cargo.toml
  app/src-tauri/src/bin/project-graph-ownership-helper.rs
  app/src-tauri/src/lib.rs
  app/src-tauri/src/project_ownership.rs
  app/src-tauri/src/project_reference_store.rs
  app/src-tauri/src/project_runtime_bridge.rs
  app/src-tauri/tests/project_ownership_helper.rs
  app/src/cli/ClosedProjectInvocation.ts
  app/src/cli/OwnershipHelper.ts
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCliBenchmark.ts
  app/src/cli/ProjectGraphCliDesktopAcceptance.ts
  app/src/cli/ProjectGraphCliProduction.test.ts
  app/src/cli/ProjectGraphCliRuntime.ts
  app/src/cli/project-graph-production.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
Due: oxlint --type-aware, prettier --write

chore(lint): resolve current repository violations
  app/src/DropWindowCover.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngineText.tsx
  app/src/utils/pathString.tsx
  packages/serializer/src/index.ts
Due: oxlint --type-aware, prettier --write

test: bound file-level worker concurrency
  vitest.config.ts
Due: oxlint --type-aware, prettier --write

docs(cli): record core candidate validation
  benchmarks/project-graph-cli-cold-start/GRAPH-27.json
  docs/agents/cli.md
Due: prettier --write

fix(cli): pin production ownership helper
  app/src/cli/ProjectGraphCliProduction.test.ts
  app/src/cli/project-graph-production.ts
Due: oxlint --type-aware, prettier --write

refactor(cli): centralize runtime failure responses
  app/src/cli/ClosedProjectInvocation.ts
  app/src/core/OpenProjectRuntimeHost.ts
  app/src/core/RuntimeCleanup.ts
Due: oxlint --type-aware, prettier --write

test(cli): serialize production contract phase
  app/src/cli/ProjectGraphCli.test.ts
  app/src/cli/ProjectGraphCliProduction.test.ts
  package.json
Due: oxlint --type-aware, prettier --write

test(cli): refresh candidate benchmark evidence
  benchmarks/project-graph-cli-cold-start/GRAPH-27.json
Due: prettier --write

feat: 动态变化背景网格大小
  src/main/grid.gdshader
  src/main/main.tscn
Due: none

chore: 添加构建模板
  .gitignore
  export_presets.cfg
  project.godot
Due: none

feat: 更换图标
  icon.png
  icon.png.import
  icon.svg
  project.godot
  src/main/stage.gd
Due: none

test(cli): stabilize desktop focus acceptance
  app/src/cli/ProjectGraphCliDesktopAcceptance.ts
  app/src/cli/ProjectGraphCliDesktopAcceptanceHost.ts
Due: oxlint --type-aware, prettier --write

fix(cli): accept Windows canonical path prefix
  app/src/cli/OwnershipHelper.ts
  app/src/cli/ProjectGraphCli.test.ts
Due: oxlint --type-aware, prettier --write

chore: 优化代码
  src/main/stage.gd
Due: none

fix(cli): separate owner record from Windows lock
  app/src-tauri/src/project_ownership.rs
Due: none

fix(cli): return Windows runtime host responses
  app/src-tauri/src/project_runtime_bridge.rs
  app/src/cli/ProjectGraphCli.test.ts
  app/src/core/OpenProjectRuntimeHost.test.ts
Due: oxlint --type-aware, prettier --write

fix(cli): normalize Windows runtime project paths
  app/src-tauri/src/project_ownership.rs
  app/src-tauri/src/project_runtime_bridge.rs
  app/src/cli/ProjectGraphCliDesktopAcceptance.ts
Due: oxlint --type-aware, prettier --write

fix(cli): hide Windows acceptance consoles
  app/src/cli/ProjectGraphCliDesktopAcceptance.ts
Due: oxlint --type-aware, prettier --write
