Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["oxlint --type-aware"],
  "*.{json,md,yaml,yml,ts,tsx}": ["prettier --write"]
}

feat: 更新CI中生成更新报告内容的AI失效的情况
  .github/scripts/generate-changelog.mjs
Due: none

feat: 增加全屏切换的快捷键
  app/src/App.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

fix: 优化自适应换行模式下的节点边框大小自动调整行为
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加方向键切换物体选择是否只在视野范围内的设置项开关
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复mac的鼠标滚轮时一打开文件缩放过于猛烈的问题
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
Due: oxlint --type-aware, prettier --write

fix: 将mac全屏的快捷键默认修改为command+F11
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加子窗口功能
  app/src/core/service/GlobalMenu.tsx
Due: oxlint --type-aware, prettier --write

fix: 紧急修复，将windows的全屏快捷键也修改为Ctrl+F11。以暂时避免F11时出现的鼠标中键拖拽视野导致全屏切换或底部窗口栏闪烁的奇怪问题
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: oxlint --type-aware, prettier --write

feat: 将欢迎页面口号换位很多随机小技巧
  app/src/components/welcome-page.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加打开舞台颜色分布表的功能
  app/src/components/context-menu-content.tsx
  app/src/sub/ColorPaletteWindow.tsx
Due: oxlint --type-aware, prettier --write

feat: 添加section背景颜色填充方式设置，支持完整填充和仅标题条填充
  .cursor/skills/create-setting-item/SKILL.md
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

feat: 在全局菜单中添加新的生成选项和分隔符，增强用户界面
  app/src/core/service/GlobalMenu.tsx
Due: oxlint --type-aware, prettier --write

chore: 移除ai-sdk和ai-elements相关依赖
  app/package.json
  app/src/components/ai-elements/artifact.tsx
  app/src/components/ai-elements/canvas.tsx
  app/src/components/ai-elements/chain-of-thought.tsx
  app/src/components/ai-elements/checkpoint.tsx
  app/src/components/ai-elements/code-block.tsx
  app/src/components/ai-elements/confirmation.tsx
  app/src/components/ai-elements/connection.tsx
  app/src/components/ai-elements/context.tsx
  app/src/components/ai-elements/controls.tsx
  app/src/components/ai-elements/conversation.tsx
  app/src/components/ai-elements/edge.tsx
  app/src/components/ai-elements/image.tsx
  app/src/components/ai-elements/inline-citation.tsx
  app/src/components/ai-elements/loader.tsx
  app/src/components/ai-elements/message.tsx
  app/src/components/ai-elements/model-selector.tsx
  app/src/components/ai-elements/node.tsx
  app/src/components/ai-elements/open-in-chat.tsx
  app/src/components/ai-elements/panel.tsx
  app/src/components/ai-elements/plan.tsx
  app/src/components/ai-elements/prompt-input.tsx
  app/src/components/ai-elements/queue.tsx
  app/src/components/ai-elements/reasoning.tsx
  app/src/components/ai-elements/shimmer.tsx
  app/src/components/ai-elements/sources.tsx
  app/src/components/ai-elements/suggestion.tsx
  app/src/components/ai-elements/task.tsx
  app/src/components/ai-elements/tool.tsx
  app/src/components/ai-elements/toolbar.tsx
  app/src/components/ai-elements/web-preview.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/sub/AIWindow.tsx
  pnpm-lock.yaml
Due: oxlint --type-aware, prettier --write

feat: 阻止触摸板缩放手势
  app/src/App.tsx
Due: oxlint --type-aware, prettier --write

fix: 防止拖拽窗口改变大小的时候频繁闪烁
  app/src/App.tsx
  app/src/components/welcome-page.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复了mac中，只要一按下中括号键缩放视野就停不下来了的问题
  app/src/core/service/controlService/shortcutKeysEngine/KeyBindsUI.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复打开文档时双向线重叠的问题
  app/src/core/Project.tsx
  app/src/core/service/GlobalMenu.tsx
Due: oxlint --type-aware, prettier --write

fix: 修改逻辑节点在导航栏里的位置，往外提出一层
  app/src/core/service/GlobalMenu.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加进入迷你窗口模式的快捷键
  .cursor/skills/create-keybind/SKILL.md
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

feat: 将ic工具函数改为返回字符串而不是RichText对象
  crates/project_graph/src/fonts.rs
Due: none

fix: 修复Lucide图标没有居中
  crates/project_graph/src/fonts.rs
Due: none

feat: 添加dark主题
  crates/project_graph/src/main.rs
  crates/project_graph/src/themes.rs
Due: none

feat: 设置和关于窗口
  Cargo.lock
  Cargo.toml
  assets/icon.png
  crates/project_graph/Cargo.toml
  crates/project_graph/src/main.rs
Due: none

feat: 优化主题
  crates/project_graph/src/main.rs
  crates/project_graph/src/themes.rs
Due: none

refactor: 优化导出mermaid、纯文本、markdown部分的代码结构
  app/src/core/service/dataGenerateService/stageExportEngine/BaseExporter.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/MarkdownExporter.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/MermaidExporter.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/PlainTextExporter.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/TabExporter.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/stageExportEngine.tsx
Due: oxlint --type-aware, prettier --write

refactor: 重构导入模块
  app/src/core/Project.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/service/dataGenerateService/stageImportEngine/BaseImporter.tsx
  app/src/core/service/dataGenerateService/stageImportEngine/GraphImporter.tsx
  app/src/core/service/dataGenerateService/stageImportEngine/MarkdownImporter.tsx
  app/src/core/service/dataGenerateService/stageImportEngine/MermaidImporter.tsx
  app/src/core/service/dataGenerateService/stageImportEngine/TreeImporter.tsx
  app/src/core/service/dataGenerateService/stageImportEngine/stageImportEngine.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
Due: oxlint --type-aware, prettier --write

fix: 暂时将中括号键的起飞降落改为固定快捷键，以解决按下后监听不到松开的情况（此快捷键和WSAD一样暂时不支持自定义）
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: oxlint --type-aware, prettier --write

feat: 设置
  .claude/skills/settings/SKILL.md
  Cargo.lock
  Cargo.toml
  crates/project_graph/Cargo.toml
  crates/project_graph/src/main.rs
  crates/project_graph/src/settings.rs
  crates/project_graph/src/settings_window.rs
  crates/project_graph/src/themes.rs
Due: prettier --write

fix: 修复大幅度缩放时舞台内容冲出画面的情况
  crates/project_graph/src/stage.rs
Due: none

feat: 添加基准测试代码
  crates/project_graph/src/main.rs
  crates/project_graph/src/stage.rs
Due: none

refactor: 统一使用egui的Vec2和Pos2
  Cargo.lock
  Cargo.toml
  crates/project_graph/Cargo.toml
  crates/project_graph/src/main.rs
  crates/project_graph/src/stage.rs
  crates/project_graph/src/stage/camera.rs
  crates/project_graph/src/utils.rs
Due: none

feat: 增加ctrl+R的默认快捷键拦截，防止刷新应用
  app/src/core/stage/Canvas.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加快捷键冲突检测
  .trae/documents/添加快捷键冲突检测和提醒功能.md
  app/src/components/ui/field.tsx
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

feat: 添加StageObject定义
  Cargo.lock
  Cargo.toml
  crates/project_graph/Cargo.toml
  crates/project_graph/src/main.rs
  crates/project_graph/src/stage.rs
  crates/project_graph/src/structs.rs
Due: none

feat: 增加反转中括号键视野起飞和降落的开关
  app/src/components/welcome-page.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/locales/zh_CN.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

refactor: 移动assets目录
  crates/project_graph/assets/icon.png
  crates/project_graph/src/main.rs
Due: none

chore: 添加CI
  .github/workflows/nightly.yml
Due: prettier --write

chore: 使用Wrangler部署WASM版本
  .github/workflows/nightly.yml
  .gitignore
  crates/project_graph/Trunk.toml
  wrangler.toml
Due: prettier --write
