Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

fix:去除播放按钮,改为悬浮播放,点击其他位置就停止播放
  app/src/core/render/canvas2d/entityRenderer/mediaNode/MediaNodeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/mediaPlaybackService/MediaPlaybackManager.ts
  app/src/core/stage/stageObject/entity/MediaNode.tsx
  app/src/core/subWindowOpenModes.ts
  app/src/main.tsx
  app/src/sub/MediaPlayerWindow.tsx
  app/src/sub/SettingsWindow/customization/window-open-modes.tsx
Due: oxlint --type-aware, prettier --write

fix:选中之后双击才播放而非直接播放
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
Due: oxlint --type-aware, prettier --write

fix:删除标题和时长显示,拖入视频时自动调节尺寸大小
  app/src/core/render/canvas2d/entityRenderer/mediaNode/MediaNodeRenderer.tsx
  app/src/core/service/dataManageService/mediaNodeFactory.ts
  app/src/core/stage/stageObject/entity/MediaNode.tsx
  packages/extprg-types/index.d.ts
Due: oxlint --type-aware, prettier --write

fix:增加音频节点的文字大小
  app/src/core/render/canvas2d/entityRenderer/mediaNode/MediaNodeRenderer.tsx
  app/src/core/service/dataManageService/mediaNodeFactory.ts
  app/src/core/stage/stageObject/entity/MediaNode.tsx
Due: oxlint --type-aware, prettier --write

feat:可以直接拖拽文字进入,拖拽提示的文本还原
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/custom_drag_drop.rs
  app/src-tauri/src/lib.rs
  app/src/DropWindowCover.tsx
Due: oxlint --type-aware, prettier --write

fix(godot): 默认隐藏 Godot 启动标志
  project.godot
Due: none

docs: add graph note-taking design references
  docs/references/README.md
Due: prettier --write

docs: archive original research PDFs and source manifest
  docs/references/README.md
  docs/references/papers/2006-nesbit-adesope-meta-analysis.pdf
  docs/references/papers/2007-inkseine.pdf
  docs/references/papers/2008-novak-canas-concept-maps.pdf
  docs/references/papers/2017-node-link-matrix-comparison.pdf
  docs/references/papers/2019-local-first.pdf
  docs/references/papers/2023-graphologue.pdf
  docs/references/papers/2023-sensecape.pdf
  docs/references/papers/2025-scholarmate-v3-2026.pdf
  docs/references/papers/README.md
  docs/references/papers/sources.json
Due: prettier --write

docs: add in-depth software design research report
  软件设计调研报告.md
Due: prettier --write

docs: organize research into first-release development baseline
  README.md
  docs/README.md
  docs/archive/2026-09-29/TODO.md
  docs/archive/2026-09-29/canvas-mvp.md
  docs/archive/2026-09-29/references.md
  docs/archive/README.md
  docs/design/decisions.md
  docs/development/current-state.md
  docs/development/implementation-plan.md
  docs/research/software-design.md
  docs/research/startup-performance.md
  docs/specs/first-release.md
  docs/validation/first-release.md
Due: prettier --write

docs: define UI style baseline and consistency acceptance
  docs/README.md
  docs/design/ui-style.md
  docs/development/current-state.md
  docs/development/implementation-plan.md
  docs/specs/first-release.md
  docs/validation/first-release.md
Due: prettier --write

docs: specify Mocha and Latte color presets
  docs/README.md
  docs/design/color-system.md
  docs/design/ui-style.md
  docs/development/current-state.md
  docs/development/implementation-plan.md
Due: prettier --write

docs: define Lucide icon usage and theme integration
  docs/README.md
  docs/design/icons.md
  docs/design/ui-style.md
Due: prettier --write

docs: record built-in theme validation and limitations
  docs/validation/theme-palette.md
Due: prettier --write

docs: define product scope and actionable feature backlog
  docs/README.md
  docs/development/TODO.md
  docs/development/current-state.md
  docs/development/implementation-plan.md
  docs/specs/PRD.md
  docs/specs/first-release.md
  docs/validation/first-release.md
Due: prettier --write

fix(canvas): round layer move preview outlines
  src/entity_layer_mover.gd
Due: none

fix(ui): close dialogs without reactivating their viewport
  src/main/dialog_motion.gd
Due: none

fix(text): size editors using wrapped visual lines
  src/auto_size_text_edit.gd
Due: none

feat(history): cancel active transactions without undo entries
  src/history.gd
Due: none

fix(clipboard): decode serialized IDs before remapping references
  src/main/workspace_actions.gd
Due: none

perf(commands): retain unchanged command list layout
  src/main/main.gd
Due: none

docs: record interaction validation and remaining integration limits
  docs/design/node-interactions.md
  docs/validation/basic-interaction.md
Due: prettier --write

feat(canvas): fade same-color containers by inner layer depth
  docs/design/container-opacity.md
  src/stage_object/entity/text_node/text_node.gd
  tests/container_opacity_smoke.gd
Due: prettier --write

feat(theme): provide shared Mocha and Latte palette roles
  src/main/theme_palette.gd
  src/main/theme_palette.gd.uid
Due: none

fix(editor): retain canvas text focus and centered edit position
  src/main/main.gd
  src/stage_object/entity/text_node/text_node.gd
  tests/canvas_text_focus_smoke.gd
Due: none

feat(edges): edit persistent labels on double click
  src/stage/stage.gd
  src/stage_object/association/line_edge/edge_caption.gd
  src/stage_object/association/line_edge/edge_caption.gd.uid
  src/stage_object/association/line_edge/line_edge.gd
  src/stage_object/association/line_edge/line_edge.tscn
  tests/edge_caption_smoke.gd
Due: none

feat(edges): adapt default grayscale to canvas and container backgrounds
  src/main/main.gd
  src/main/theme_palette.gd
  src/stage/stage.gd
  src/stage_object/association/line_edge/line_edge.gd
  tests/edge_contrast_smoke.gd
Due: none

feat(ui): unify continuous corners across canvas and controls
  docs/design/continuous-corners.md
  src/main/continuous_corners.gd
  src/main/dialog_theme.gd
  src/main/main.gd
  src/main/theme_palette.gd
  src/stage/stage.gd
  src/stage_object/association/line_edge/edge_caption.gd
  src/stage_object/entity/text_node/text_node.gd
  src/stage_object_slicer.gd
  tests/container_opacity_smoke.gd
  tests/continuous_corners_smoke.gd
Due: prettier --write

fix(canvas): keep node borders automatic and readable
  docs/design/node-borders.md
  src/main/main.gd
  src/main/theme_palette.gd
  src/stage_object/entity/text_node/text_node.gd
  tests/node_border_smoke.gd
Due: prettier --write

fix(canvas): preserve antialiasing while zooming out
  docs/design/canvas-antialiasing.md
  docs/design/continuous-corners.md
  src/main/continuous_corners.gd
  src/stage/stage.gd
  src/stage_object/association/line_edge/edge_caption.gd
  src/stage_object/association/line_edge/line_edge.gd
  src/stage_object/entity/text_node/text_node.gd
  tests/canvas_antialiasing_smoke.gd
Due: prettier --write

fix(canvas): smooth zoomed connection strokes with mipmapped coverage
  assets/line_antialiasing-LICENSE.txt
  assets/line_antialiasing.res
  docs/design/canvas-antialiasing.md
  src/stage_object/association/line_edge/line_edge.gd
  tests/canvas_antialiasing_smoke.gd
Due: prettier --write

fix(canvas): select all node text on editing double-click
  docs/design/node-edit-frame.md
  src/stage_object/entity/text_node/text_node.gd
  tests/canvas_text_focus_smoke.gd
Due: prettier --write

fix(canvas): preserve node frame when entering text editing
  docs/design/node-edit-frame.md
  src/stage_object/entity/text_node/text_node.gd
  tests/canvas_text_focus_smoke.gd
Due: prettier --write

fix(canvas): antialias selection outlines with mipmapped coverage
  docs/design/canvas-antialiasing.md
  src/stage/stage.gd
  tests/canvas_antialiasing_smoke.gd
Due: prettier --write

style(canvas): thicken node selection outlines
  docs/design/canvas-antialiasing.md
  src/stage/stage.gd
Due: prettier --write

fix(canvas): retain full text selection after double-click input
  docs/design/node-edit-frame.md
  src/stage_object/entity/text_node/text_node.gd
  tests/canvas_text_focus_smoke.gd
Due: prettier --write

fix(canvas): select all text when double-clicking a node
  docs/design/node-edit-frame.md
  src/stage_object/entity/text_node/text_node.gd
  tests/canvas_text_focus_smoke.gd
Due: prettier --write

Path conditions:
  oxlint --type-aware: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml,ts,tsx}
