Repository graphif/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --type-aware, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["oxlint --type-aware"],
  "*.{json,md,yaml,yml,ts,tsx}": ["prettier --write"]
}

feat: 给Tab组件添加动画
  app/src/components/ui/tabs.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复Linux环境下给Tauri命令传入过大的Uint8Array会报错的问题
  app/src-tauri/src/qt_app.cpp
Due: none

feat: 增加图片压缩的设置项
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngineImage.tsx
  app/src/core/service/dataManageService/dragFileIntoStageEngine/dragFileIntoStageEngine.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

feat: 优化设置项默认参数
  app/src/core/service/Settings.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加图片节点生成时，黑白压缩的功能
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngineImage.tsx
  app/src/core/service/dataManageService/dragFileIntoStageEngine/dragFileIntoStageEngine.tsx
  app/src/core/service/dataManageService/imageUtils.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加qf快捷键，让摄像机定位到选中物体但不改变缩放
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

fix: 当按键序列中出现后缀相同前缀不同的两个快捷键时，优先触发长度更长的快捷键
  app/src/core/service/controlService/shortcutKeysEngine/KeyBindsUI.tsx
Due: oxlint --type-aware, prettier --write

fix: 当出现两个完全一样的快捷键的时候，一起执行。
  app/src/core/service/controlService/shortcutKeysEngine/KeyBindsUI.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: oxlint --type-aware, prettier --write

fix: 视野缩放过小时，url节点内不渲染文字以提高性能
  app/src/core/render/canvas2d/entityRenderer/urlNode/urlNodeRenderer.tsx
Due: oxlint --type-aware, prettier --write

feat: 尝试增加deeplink
  app/src-tauri/capabilities/default.json
  app/src-tauri/src/lib.rs
  app/src-tauri/tauri.conf.json
  app/src/core/service/dataFileService/DeepLinkHandler.ts
  app/src/main.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复自定义协议跳转问题
  app/src/core/service/dataFileService/DeepLinkHandler.ts
  app/src/main.tsx
Due: oxlint --type-aware, prettier --write

feat: change deeplink scheme from project-graph:// to prg://
  app/src-tauri/tauri.conf.json
  app/src/core/service/dataFileService/DeepLinkHandler.ts
Due: oxlint --type-aware, prettier --write

feat: add support for binary data transfer via Latin-1 encoding in IPC
  app/src-tauri/src/ipc_bridge.rs
  app/src-tauri/src/lib.rs
  app/src-tauri/src/qt_app.cpp
  app/src-tauri/src/qt_app.h
Due: none

feat: 更新教程链接
  app/src/components/welcome-page.tsx
  app/src/core/service/GlobalMenu.tsx
Due: oxlint --type-aware, prettier --write

feat: OCR
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/cmd/mod.rs
  app/src-tauri/src/cmd/paddle.rs
  app/src-tauri/src/lib.rs
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/sub/SettingsWindow/index.tsx
  app/src/sub/SettingsWindow/local-ai.tsx
Due: oxlint --type-aware, prettier --write

chore: 移动依赖
  app/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 升级到pnpm v11
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore: 升级到nodejs 26
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore: 优化pnpm解析速度
  pnpm-workspace.yaml
Due: prettier --write

chore: 升级到vite v8
  app/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: 优化工作区结构
  AGENTS.md
  app/package.json
  app/project.json
  nx.json
  package.json
  packages/data-structures/package.json
  packages/data-structures/project.json
  packages/extprg-types/index.d.ts
  packages/serializer/project.json
  packages/shapes/package.json
  packages/shapes/project.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: oxlint --type-aware, prettier --write

chore: ci
  .github/workflows/publish.yml
Due: prettier --write

chore: allowBuilds
  pnpm-workspace.yaml
Due: prettier --write

chore: ci
  .github/scripts/set-aha-features.mjs
  .github/workflows/publish.yml
Due: prettier --write

feat: 增加弧形线
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/renderArcEdge.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/renderCrEdge.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageObject/association/ArcEdge.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复mac上无法启动的问题
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
Due: none

feat: 优化文件解析失败的错误弹窗
  app/src/components/ui/dialog.tsx
  app/src/core/Project.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加按住ctrl键拖拽圆弧线，更改连线上的文字位置的功能
  app/src/core/render/canvas2d/entityRenderer/edge/renderArcEdge.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/stage/stageObject/association/ArcEdge.tsx
Due: oxlint --type-aware, prettier --write

fix: 鼠标拖拽移动到窗口外部时，自动松手
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityResize.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: oxlint --type-aware, prettier --write

feat: ctrl+G打包框时，分组框自动进入编辑状态
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerSectionEdit.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
Due: oxlint --type-aware, prettier --write

feat: 增加快捷键创建分组框后是否进入编辑状态的开关
  app/src/core/service/Settings.tsx
  app/src/core/service/SettingsIcons.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/settings.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复莫兰迪主题下未激活的标签页看不清文字的问题
  app/src/ProjectTabs.tsx
  app/src/css/index.css
Due: oxlint --type-aware, prettier --write

feat: 增加窗口最大化切换快捷键
  app/src-tauri/capabilities/default.json
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write

feat: 右键菜单中增加添加到标签的快捷操作，并添加快捷键
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
Due: oxlint --type-aware, prettier --write

feat: ESC键不关闭AI窗口
  app/src/core/service/SubWindow.tsx
  app/src/sub/AIWindow.tsx
Due: oxlint --type-aware, prettier --write

fix: 修复设置页面中数字类型输入框内的上下箭头颜色不正确问题
  app/src/core/service/Themes.tsx
Due: oxlint --type-aware, prettier --write

feat: 尝试优化保存逻辑
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/cmd/mod.rs
  app/src-tauri/src/cmd/save.rs
  app/src-tauri/src/lib.rs
  app/src/core/Project.tsx
Due: oxlint --type-aware, prettier --write

feat: add compress image operation with keybind and context menu
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  app/src/locales/en.yml
  app/src/locales/id.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/locales/zh_TWC.yml
  app/src/sub/SettingsWindow/keybinds.tsx
Due: oxlint --type-aware, prettier --write
